<div class="container-fluid">
	<h1><%= link_to @event.event_title, @event %></h1>
	<div class="row">
		<div class="col">
			<p>現在登録されているジャンル</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<table class="table">
			<tr>
				<th>ジャンル名</th>
				<th></th>
			</tr>
			<% @genres.each do |genre| %>
					
					<tr>
					<td><%= genre.name %></td>
					<td class="text-right"><%= link_to '削除', genre, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
					</tr>
			<% end %>
			</table>
		</div>
	</div>


<%= form_with model: @genre , local: true do |form| %>
	<%= form.hidden_field :event_id, value:@event.id, readonly: true %>
		<div class="form-group">
			<%= form.label :name, "追加したいジャンル", class:'control-label' %>
			<%= form.text_field :name,  class:'form-control', required: true%>
		</div>

<div class="row justify-content-between">

	<div class="col text-left">
		<%= link_to("戻る","/events/#{@event.id}/edit") %>
	</div>

	<div class="col text-right">
		<%= form.submit "追加する", class:'btn'%>
	</div>

<% end %>
</div>



</div>
