<div class="container-fluid">
	<h2><%= link_to @event.event_title, @event %></h2>
	<div class="row">
		<div class="col">
			<p>現在登録されているジャンル</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<table class="table">
			<tr>
				<th>ジャンル名</th>
				<th></th>
			</tr>
			<% @genres.each do |genre| %>
					
					<tr>
					<td><%= genre.name %></td>
					<td class="text-right"><%= link_to '削除', genre, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
					</tr>
			<% end %>
			</table>
		</div>
	</div>


<%= form_with model: @genre , local: true do |form| %>
	<%= render 'layouts/form_back_submit', { form: form, input_infomation: "追加したいジャンル", input_target: :name } %>
<% end %>


</div>
