<p>イベント情報の修正</p>

<%= render 'form', event: @event %>

<%= link_to '戻る', @event %> |

<%= link_to '出演者の編集', input_event_performers_path(id:@event.id, event_title:@event.event_title) %>
<%= link_to '画像の編集', input_images_path(id:@event.id) %>
<%= link_to 'ジャンルの編集', input_genres_path(event_id:@event.id) %>