<% @page_title = @date.to_s(:date_jp) %>




<div class="container-fluid">

	<div class="row">
		<div class="col text-center"><h2><%= l(@date, format: :date_and_wday) %></h2></div>
	</div>

	<div class="row">
		<div class="col text-center">
			<%= link_to select_path(start_date: (@date -1), prefecture_id: @prefecture_id), method: :get  do %>
				<span class="material-icons">arrow_back</span>
			<% end %>
		</div>
		<div class="col-auto"></div>
		<div class="col text-center">
			<%= link_to select_path(start_date: (@date +1), prefecture_id: @prefecture_id), method: :get do %>
				<span class="material-icons">arrow_forward</span>
			<% end %>
		</div>
	</div>

	<% @events.each do |event| %>
		<%= render 'layouts/event', event: event %>
	<% end %>

	<div class="row">
		<div class="col">
			<%= paginate(@events) %>
		</div>
	</div>
</div>
