<%= form_with(model: event_performer, local: true) do |form| %>
  <% if event_performer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_performer.errors.count, "error") %> prohibited this event_performer from being saved:</h2>

      <ul>
      <% event_performer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :performer_name %>
    <%= form.text_field :performer_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
