<div class="container-fluid">
	<h2><%= link_to @event.event_title, @event %></h2>

	<div class="row">
		<div class="col">
			<p>現在登録されている出演者</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<table class="table">
			<tr>
				<th>出演者名</th>
				<th>削除</th>
			</tr>
			<% @event_performers.each do |event_performer| %>
					
				<tr>
					<td><%= event_performer.performer_name %></td>
					<td><%= link_to '削除', event_performer, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
				</tr>
			<% end %>
			</table>
		</div>
	</div>


<%= form_with model: @event_performer, local: true do |form| %>
	<%= render 'layouts/form_back_submit', { form: form, input_infomation: "追加したい出演者", input_target: :performer_name } %>
<% end %>


