
 <div class="bottom_nav">
        <div class="inside_bottom_nav">
            <nav class="list">

		<%= link_to root_path, class: "item" do %>

                    <span class="material-icons icon">home</span>
			<span class="text">ホーム</span>

		<% end %>

                <%= link_to search_path, class: "item" do %>
                    <span class="material-icons icon">search</span>
			<span class="text">探す</span>
                <% end %>
                 <%= link_to new_event_path, class: "item" do %>
                    <span class="material-icons icon">create</span>
                    <span class="text">新規イベント</span>
                <% end %>
                <%= link_to accounts_path, class: "item" do %>
                    <span class="material-icons icon">person</span>
			<span class="text"><%=  current_user.name + "さん" %></span>
                <% end %>
            </nav>
        </div>
    </div>