<div class="row border-bottom">
	<div class="col-4">
			<% event.images.each do |image| %>
				<% if image.thumbnail == true %>
					<%= image_tag image.image.thumb.url, class: 'img-fluid' %>
				<% end %>
			<% end %>
	</div>
	<div class="col-8">
		<table class="table table-borderless">
			<tr>
				<td colspan="4">
					<h5><%= event.start_date.to_s(:date_jp) %></h5>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<h4><%= link_to event.event_title, event %></h4>
				</td>
			</tr>

			<tr>
				<td>
					<h5><%= event.prefecture.name %></h5>
				</td>
				<td colspan="3">
					<h5><%= event.event_venue %></h5>
				</td>
			</tr>


			<tr>
				<td colspan="4">
					<div class="text-wrap">
					<% event.event_performers.each do |performer| %>
						<%= link_to performer.performer_name, controller: "event_performers", action: "select", performer_name: performer.performer_name %>
					<% end %>
					</div>
				</td>
			</tr>
			<tr>
				<td>OPEN</td>
				<td>START</td>
				<td>前売</td>
				<td>当日</td>
			</tr>
			<tr>
				<td><%= event.open_date.to_s(:only_time) %></td>
				<td><%= event.start_date.to_s(:only_time) %></td>
				<td><%= event.event_adv %>円</td>
				<td><%= event.event_door %>円</td>
			</tr>
		</table>
	</div>
</div>