<div class="row border-bottom">
	<div class="container-fluid">
		<div class="row">
			<div class="col md-12">
				<h4><%= l(event.start_date, format: :date_and_wday) %></h4>
			</div>
		</div>
		<div class="row">
			<div class="col md-6">
				<div class="row">
					<div class="col-md-12 thumbnail_image">
						<% event.images.each do |image| %>
							<% if image.thumbnail == true %>
								<%= image_tag image.image.thumb.url, class: "img-fluid" %>
							<% end %>
						<% end %>
					</div>
				</div>	
			</div>
			<div class="col md-6">
				<div class="d-flex flex-column h-100">
					<div><h3><%= link_to event.event_title, event %></h3></div>
					<div><%= event.prefecture.name %> - <%= event.event_venue %></div>
					<div class="mt-auto mb-auto">
						<p class="text-wrap">
							<% event.event_performers.each do |performer| %>
								<%= link_to performer.performer_name, controller: "event_performers", action: "select", performer_name: performer.performer_name %>
							<% end %>
						</p>
					</div>
					<div class="mt-auto">
						<div class="row">
							<div class="col-6">
								<p>OPEN</p>
							</div>
							<div class="col-6">
								<p><%= event.open_date.to_s(:only_time) %></p>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<p>START</p>
							</div>
							<div class="col-6">
								<p><%= event.start_date.to_s(:only_time) %></p>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<p>ADV.</p>
							</div>
							<div class="col-6">
								<p><%= event.event_adv %>円</p>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<p>DOOR</p>
							</div>
							<div class="col-6">
								<p><%= event.event_door %>円</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>