<div class="main_menu">
<ul class="drawer-menu">

	<li>
		<div id="calendar2"></div>
	</li>

	<li><%= link_to 'イベントを探す', search_path, class: "drawer-menu-item" %></li>

	<% if user_signed_in? %>
		<li><%= link_to 'マイリスト', mylist_path, class: "drawer-menu-item" %></li>
		<li><%= link_to 'イベントを登録する', new_event_path, class: "drawer-menu-item" %></li>
		<li><%= link_to current_user.name + "さん", accounts_path, class: "drawer-menu-item" %></li>
		<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "drawer-menu-item" %></li>
	<% else %>
		<li><%= link_to "ログイン", new_user_session_path, class: 'post drawer-menu-item' %></li>
	<% end %>

	<li>
		<p class="drawer-menu-item" id="pwa_install">ホーム画面に追加する</p>
	</li>



</ul>
</div>
