<% @page_title = event.event_title %>
<% @share_twitter = event %>
<% @share_prefecture_name = event.prefecture.name %>
	<div class="row">
		<div class="col">
			<%= event.start_date.to_s(:date_jp) %>
			<h2><%= event.event_title %></h2>
			<div class="col"><%= event.prefecture.name %> : <%= event.event_venue %></div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			<p>
				<% event.images.each do |image| %>
					<%= link_to image_tag(image.image.thumb.url, class:'img-fluid'),image.image.thumb.url,:rel => "lightbox"%>
				<% end %>
			</p>
			
			<p>
				<%= event.event_description %>
			</p>

			<p>ジャンル:
			<% event.genres.each do |genre| %>
				<%= link_to genre.name, controller: "genres", action: "select", name: genre.name %> /
			<% end %>
			</p>

		</div>
		<div class="col-sm">


			<p>出演:</p>
			<% event.event_performers.each do |performer| %>
				<p><%= link_to performer.performer_name, controller: "event_performers", action: "select", performer_name: performer.performer_name %></p>
			<% end %>

			<p>時間:</p>
			<p>
				OPEN <%= event.open_date.to_s(:only_time) %></br>
				START <%= event.start_date.to_s(:only_time) %>
			</p>

			<p>料金:</p>
			<p>
				前売 <%= event.event_adv %>円</br>
				当日 <%= event.event_door %>円
			</p>
			<p>
			<p>
			<% if user_signed_in? %>

				<% if event.like_by?(current_user) %>
					<%= link_to 'このイベントをマイリストから解除する', event_like_path(event), method: :delete %>
				<% else %>
	 				<%= link_to 'このイベントをマイリストに登録する', event_likes_path(event), method: :post %>
				<% end %>
			<% end %>
			</p>

			<p>
			<% if user_signed_in? %>
				 <% if current_user.id == @user.id %>
					<%= link_to("編集","/events/#{event.id}/edit") %>
				<% end %>
			<% end %>
			</p>
				<div class="twitter">
					<a href="//twitter.com/share"
					class="twitter-share-button"
					data-text="<%= share_twitter %>"
					data-url=" "
					data-lang="ja<!-- 日本語の場合 -->">

					Tweet</a>
				</div>

				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

		</div>
	</div>