<!DOCTYPE html>
<html>
<head>
	<title><%= page_title %></title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<link rel="manifest" href="/manifest.json">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

	<!-- drawer.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
	<!-- jquery & iScroll -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
	<!-- drawer.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.drawer').drawer();
		});
	</script>
</head>


<body data-turbolinks="false">
	
	<div class="drawer drawer--left">
		<%= render 'layouts/drawer' %>
	<div>



	<%# 全体包 %>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<header role="banner">
					<%= render 'layouts/header' %>
				</header>
			</div>

			<div class="row">
				<div class="col-3 no-gutters main_menu d-none d-md-block">
					<%= render 'layouts/not_drawer_menu' %>
				</div>
				<div class="col-xs-12 col-md-9 main-yield no-gutters">
					<div class="yield"><%= yield %></div>
				</div>
			</div>

			<div class="row">
				<footer role="contentinfo">
					<%= render 'layouts/footer' %>
				</footer>
			</div>
		</div>
	</div><%# wrapper%>
	<%# ボトムナビゲーション %>
	<%= render 'layouts/bottom_nav' %>

</body>
</html>