<%= stylesheet_link_tag "header", :media => "all" %>




	<div class="container-fluid">
		<div class="row">
			
			<div class="col">
				<a href="/today/index">トップ</a>
			</div>

			<div class="col text-right">
				<% if user_signed_in? %>
					<%= link_to 'マイリスト', accounts_mylist_path %>
					<%= link_to 'イベントを登録する', new_event_path %>
					<%= link_to current_user.name + "さん", accounts_index_path %>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
				<% else %>
					<%= link_to "ログイン", new_user_session_path, class: 'post' %>
				<% end %>
			</div>
		</div>
	</div>