<%= stylesheet_link_tag "infomation", :media => "all" %>

<% if user_signed_in? %>

	<table>
		<tr>
			<td><%= current_user.account %></td><td><%= current_user.email %></td>
		</tr>

		<tr>
			<td><%= current_user.name %></td>
		</tr>


		<tr>
			<td><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></td>
		</tr>

	</table>

<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>
