
<% if user_signed_in? %>

<table class="table">
	<tr>
		<td>いつ</td>
		<td>何県の</td>
		<td>どこで</td>
		<td>タイトル</td>

		<td>編集</td>
	</tr>

<% @createds.each do |event| %>
	<tr>
		<td><%= l(event.start_date, format: :date_and_wday) %>
		<td><%= event.prefecture.name %></td>
		<td><%= event.event_venue %></td>
		<td><%= event.event_title %></td>

		<td>
			<% if user_signed_in? %>
				 <% if current_user.id == @user.id %>
					<%= link_to("編集","/events/#{event.id}/edit") %>
				<% end %>
			<% end %>
		</td>
	<tr>


<% end %>
</table>

	<table>
		<tr>
			<td><%= current_user.email %></td>
		</tr>

		<tr>
			<td><%= current_user.name %></td>
		</tr>


		<tr>
			<td><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></td>
		</tr>

	</table>

<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>
