<%# マイページ %>
<%# サインイン済みか確認 %>
<% if user_signed_in? %>
	<div class="container-fluid">
		<div class="row">
			<div class="col text-center">
				<h3><%= current_user.name %>さんが登録したイベント</h3>
			</div>
		</div>

		<div class="row">
			<div class="col">
			<table class="table">
				<tr>
					<td>いつ</td>
					<td>何県の</td>
					<td>どこで</td>
					<td>タイトル</td>
					<td>編集</td>
				</tr>

			<% @createds.each do |event| %>
				<tr>
					<td><%= l(event.start_date, format: :date_and_wday) %>
					<td><%= event.prefecture.name %></td>
					<td><%= event.event_venue %></td>
					<td><%= link_to event.event_title, event %></td>
					<td>
						<% if current_user.id == event.user_id %>
							<%= link_to("編集","/events/#{event.id}/edit") %>
						<% end %>
					</td>
				<tr>
			<% end %>
			</table>
			</div>
		</div>

	</div>
<% else %>
	<%# ユーザーがログインしていなかった時の処理 %>
	<h2> 現在ログインしていません </h2>
	<%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
	<%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>
